
/* purgecss start ignore */

@tailwind base;
@tailwind components;

html {
  font-family: "Rubik", sans-serif;
}
body {
  background: bg-white-500
}
p {
  color:  #000000
}
.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-green-main left-1/2 block bottom-0 absolute;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}

li.custom-list:before {
  content: "\2022"; /* bullet point, for screen readers */
  text-indent: -9999999px; /* move the bullet point out of sight */

  width: 0.4em;
  height: 1em;
  background-repeat: no-repeat;

  background-size: 0.4em 0.7em;
  background-position: 0 0.3em;
  font-size: 300%;
  top: -0.35em;
  @apply absolute block;
}
li.circle-check:before {
  background-image: url("/assets/Icon/checklist.svg");
  left: -0.7em;
  top: -0.4em;
}
li.check:before {
  left: -0.5em;
  background-image: url("/assets/Icon/jam_check.svg");
  top: -0.5em;
  font-size: 400%;
}
/* Slideshow */
.slick-dots li {
  @apply inline-block;
}
.slick-dots span {
  @apply bg-gray-500;
}
.slick-dots .slick-active span {
  @apply bg-orange-500 rounded-l-full rounded-r-full w-12;
}

/* purgecss end ignore */
@tailwind utilities;
/* purgecss start ignore */
/* purgecss end ignore */

body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

.project-wrapper{
  display: flex;
  list-style: none;
  height: 350px;
  overflow-x: scroll;
  padding: 20px 0;
  flex: 0 0 600px;
}

.project-wrapper li {
  flex: 0 0 300px;
  margin: 0 20px 0 0;
}

.project-wrapper li:last-of-type {
  margin: 0;
}

.bg {
  stroke: #fff;
  opacity: 0.3;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: green;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

#progress {

  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}

.bg {
  stroke: blue;
  opacity: 0.3;
}

#progress .indicator {
  stroke: red;
}

.MuiTimelineItem-root::before{
  flex: 0 !important;
}

.MuiTimelineDot-root{
  background-color: rgba(47, 171, 115, 1) !important;
}

.MuiTimelineConnector-root{
  background-color: rgba(47, 171, 115, 1) !important;
}





